* {
  text-align: center;
  color: #ccd6f6;
  box-sizing: border-box;
}

/*Changes the hamburger menu color when in phone view*/
.navbar-light .navbar-toggler-icon {
  background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(27, 192, 178, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex: 1 0 auto;
}

main {
  flex: 1 0 80vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

/* The three different sections of the page */
section:first-child {
  flex: 1;
  background-color: #0a192f;
}
section:nth-child(2) {
  flex: 7;
  background-color: #0a192f;
}
section:last-child {
  flex: 1;
  background-color: #0a192f;
}

.projects-h2{
  margin-bottom: 0.5em;
}
.intro-projects h2{
  font-weight: 450;
  line-height: 0.8;
  font-size: 2.6em;
  color: #1bc0b2;
  font-size: 150%;
}

.intro-projects p {
  font-size: 2.6em;
  font-size: 90%;
  padding-top: 0.5em;
}
.projects-p {
  margin-bottom: 0.3em;
}

/*Formats the contant in page*/
.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
}

.project {
  border: 2px solid #1bc0b225;
  border-radius: 5px;
  margin: 1vh;
  box-sizing: border-box;
  width: 30%;
  height: 50%;
}

.project {
  background-color: #071830;
}
.project:hover {
  transform: translate(0, -20px);
  filter: drop-shadow(0 0 0.7rem rgba(191, 240, 241, 0.199));
}
.project p {
  background-color: #071830;
  margin-bottom: 0.9em;
  padding-top: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.9em;
}

.projects h2 {
  text-align: start;
  font-weight: 450;
  line-height: 0.8;
  font-size: 2.6em;
  font-size: 90%;
}

.project-h2 {
  font-weight: 450;
  line-height: 0.8;
  font-size: 2.6em;
  font-size: 90%;
  color: #1bc0b2;
  background-color: #071830;
  margin-top: 0.7em;
 
}

.project h2 {
  text-align: center;
}

.fab,
.fas {
  font-size: 2em;
  padding-bottom: 0.5em;
  background-color: #071830;

}

.fa-palette {
  color: #9c17d1;
}
.fa-calendar-alt {
  color: #e4a74dd5;
}

#theFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.footer {
  position: relative;
  size:0.2em;
  padding-bottom: 0;
}

.fa-instagram,
.fa-linkedin,
.fa-github,
.fa-twitter,
.fa-facebook {
  font-size: 0.7em;
  vertical-align: middle;
}

.fa-instagram:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-twitter:hover,
.fa-facebook:hover {
  color:rgb(27, 192, 178)
}


@media (orientation: portrait) {
  main {
    width: auto;
  }
}

/* Phone iphoneXR*/
@media (max-width: 500px) {
  footer {
    display: none;
  }
  main {
    flex: 1 0 100vh;
  }

  section:first-child {
    display:none;
    flex: 0;
  }
  section:nth-child(2) {
    flex: 6;
    background-color: #071830;
  }
  section:last-child {
    display: none;
    flex: 0;
  }
}